<section><h2 id="about-me">个人简介</h2>
    <hr class="bar"/>
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb"><p>化梦媛-助理教授</p><p>化梦媛博士，主要研究工作集中在氮化镓功率器件，包括器件工艺与制备，材料表征，器件物理分析和可靠性、稳定性研究。
        课题负责人在国际主流会议（如IEDM，ISPSD等）和高水平期刊（IEEE EDL， IEEE TED等）发表论文40余篇。
        化梦媛博士自2018年9月起加入南方科技大学电子与电气工程系担任助理教授，研究课题将继续集中在新一代宽禁带半导体器件。</p></div>
    <div class="skill-lock"></div>
</section>