<section class="section-contact"><h2 id="Details">联系方式</h2>
    <hr class="bar"/>
    <!--<div class="social-links"><a href="https://www.facebook.com/">
        <div class="glyph-icon flaticon-facebook3"></div>
    </a><a href="https://ie.linkedin.com">
        <div class="glyph-icon flaticon-linkedin"></div>
    </a><a href="https://github.com/bawn92">
        <div class="glyph-icon flaticon-github"></div>
    </a><a href="https://www.youtube.com">
        <div class="glyph-icon flaticon-youtube31"></div>
    </a></div>
    <hr class="bar"/>-->
    <p class="biglink">地址：深圳市南山区南方科技大学C栋213室</p>
    <p class="biglink">电子邮件：<a href="huamy@sustc.edu.cn" class="biglink">huamy@sustc.edu.cn</a></p></section>