<div class="history">
    <div class="cd-timeline-header"><h2 id="Experenice">个人经历</h2>
        <hr class="bar"/>
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2 class="story-heading">南方科技大学 电子与电气工程系 助理教授</h2>
                <!--<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend
                    convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis
                    mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.</P>-->
                <span class="cd-date">2018.09-至今</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/college.svg" alt="College"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>香港科技大学 电子与计算机工程系 博士后</h2>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend
                    convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis
                    mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.</p>-->
                <span class="cd-date">2017.09-2018.09</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>香港科技大学 电子与计算机工程系 博士学位</h2>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend
                    convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis
                    mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.</p>-->
                <span class="cd-date">2013-2017</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/college.svg" alt="Location"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>清华大学 数学物理基础科学班 学士学位</h2>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend
                    convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis
                    mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.</p>-->
                <span class="cd-date">2009-2013</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--></div>
    </section>
    <div class="cd-timeline-header"><h2></h2></div>
</div>