<section><h2 id="Contact">联系方式</h2>
    <hr class="bar"/>
    <form method="post" action="//formspree.io/huamy@sustc.edu.cn">
        <div class="contact-info-group"><label><span>姓名</span><input type="text"
                                                                            name="name"/></label><label><span>邮箱</span><input
                type="email" name="_replyto"/></label></div>
        <label><span>信息</span><textarea name="Message"></textarea>
            <div class="submit-wrap"><input type="submit" value="Send"/></div>
        </label></form>
</section>